<div class="login-container">
  <h2>Connexion</h2>

  <form (submit)="login(); $event.preventDefault()">
    <div>
      <label>Email:</label>
      <input type="email" [(ngModel)]="email" name="email" required />
    </div>

    <div>
      <label>Mot de passe:</label>
      <input type="password" [(ngModel)]="password" name="password" required />
    </div>

    <div>
      <label>Rôle:</label>
      <select [(ngModel)]="role" name="role">
        <option value="USER">Utilisateur</option>
        <option value="ADMIN">Admin</option>
      </select>
    </div>

    <button type="submit">Se connecter</button>
  </form>
</div>
